.root {
  display: flex;
}

.buttonGrid {
  pointer-events: none;
  position: absolute;
  /* Stolen from MuiListPadding to align with drawer */
  margin-top: 8px;
}

.rightDrawerButton {
  margin-left: auto;
  margin-right: 0;
}